button, #addedPlaces {
  width: 100%;
}

.qualityLabel {
  text-align: right;
}

.places {
  color: blue;
  text-decoration: underline;
}

.places:hover {
  color: darkblue;
  text-decoration: underline;
}

.places > ul, li {
  color: black;
  text-decoration: none;
}